.l-header {
  width: 100%;
  height: 150px;
  padding-top: 25px;
  background: $mainColor;
  &__wrapper {
    max-width: 1200px;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  &__head {
    margin: 0;
    padding: 0;
    color: $subColor;
    &-text {
      font-size: 4rem;
    }
    &-link {
      margin-left: 10px;
      color: $subColor;
    }
    &-icon {
      font-size: 4rem;
    }
  }
  &__text {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    color: $subColor;
  }
}
