.l-footer {
  grid-row: 2;
  grid-column: 1 / span 2;
  background: $mainColor;
  @include mq(sp) {
    grid-row: 3;
  }
  &__list {
    margin: 20px 0 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  &__item {
    list-style: none;
    margin-left: 25px;
    &:first-child {
      margin-left: 0;
    }
    &-link {
      color: $subColor;
    }
    &-icon {
      font-size: 3rem;
    }
  }
  &__copy {
    margin-top: 50px;
    display: block;
    font-size: 1.2rem;
    text-align: center;
    color: $subColor;
  }
}